your_spotify_db
* .zip
/aws
*.venv
/home/johnw/server/poc/aws_vault_token_rotation/.venv
__pycache__
*.vscode
*.zip

# Terraform
*.terraform
*.lock.hcl
*.tfstate

# SSH Server Testing
*/logs/
*.bash_history

# Vault AWS Poc
**/localstack